.body_ziXun{
    width: 6.5rem;
    height: auto;
    margin: 0 auto;
    margin-top: 1.2rem;
    padding-bottom: 1.5rem;
}
.body_ziXun .biaoti{
    font-size: .32rem;
    color: #545454;
    margin-bottom: .07rem;
}
.body_ziXun .shijian{
    font-size: .20rem;
    color: #666;
    margin-bottom: .07rem;
}
.body_ziXun p{
    font-size: .24rem;
    color: #666;
    line-height: .45rem;
    text-indent:.5rem
}
.body_ziXun .zixun_img{
    width: 6.5rem;
}
.body_ziXun .xiaobiaoti{
    font-size: .26rem;
    color: #545454;
    margin-top: .05rem;
    /*padding-left: .5rem;*/
}